html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.slider {
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    height: 35vh;
}

.slides {
    height: 100%;
    width: 500%;
    display: flex;
}

.slides input {
    display: none;
}

.img-slide {
    width: 20%;
    position: relative;
    transition: 0.3s;
}

.img-slide img {
    width: 100%;
    height: 100%;
}

.manual-navigation {
    position: absolute;
    margin-top: -20px;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 8px;
}

.manual-btn {
    border: 2px solid white;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
}

.manual-btn:hover {
    background-color: aliceblue;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}

#radio5:checked ~ .first {
    margin-left: -80%;
}

.navigation-auto {
    height: 35vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    gap: 8px;
}

.navigation-auto div{
    height: 1px;
    width: 1px;
    margin-bottom: 8px;
    border: 1px solid #ffffff;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: white;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: white;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: white;
}

#radio5:checked ~ .navigation-auto .auto-btn5 {
    background-color: white;
}


/* SLIDES */

main {
    background: #232526;
    background: -webkit-linear-gradient(to right, #26012d, #000000); 
    background: linear-gradient(to right, #26012d, #000000);
    color: white;
}

section.hero {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 62px;
}

section.hero h1 {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

section.hero h2 {
    margin-top: 16px;
    font-size: 18px;
    text-align: center;
    width: 90%;
    color: #cae5ff;
}

section.hero .wrapper-image {
    width: 100%;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}

section.hero .wrapper-image img {
    width: 100%;
    margin: auto;
    padding-bottom: 5px;
    box-shadow: rgba(136, 136, 136, 0.267) 0px 25px 20px -20px;
}

section.hero h3 {
    font-weight: bold;
    margin-top: 40px;
}


section.hero p {
    margin-top: 40px;
    width: 90%;
    text-align: center;
    margin-bottom: 80px;
}

section.privacy {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.privacy h2 {
    font-weight: bold;
}

section.privacy .wrapper {
    background-image: url(./img/tecnologia-abstrata-ciberseguranca.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 32px;
    padding-bottom: 16px;
}

section.privacy .img-privacy {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: end;
    align-items: center;
}

section.privacy .img-privacy img {
    width: 40%;
    margin-right: 10%;
}

section.privacy .wrapper h3 {
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #2c008c89;
}

section.privacy  p {
    text-align: center;
    width: 85%;
    margin-top: 32px;
}

footer {
    margin-top: 64px;
    text-align: center;
    padding: 10px 0;
}

.datasheet {
    margin-top: 64px;
    color: #acacac;
}

table {
    margin-top: 24px;
}

.datasheet td::before {
    content: '- ';
}

footer a {
    color: rgb(0, 70, 174);
}